.players {
  display: grid;

  grid-template-rows: 1fr auto;

  .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0;

    li {
      $c: #0002;
      border-top: solid 1px $c;
      border-left: solid 1px $c;
      &:nth-child(3n+3) { border-right: solid 1px $c; }
      &:nth-last-child(-n+3) { border-bottom: solid 1px $c; }
      &:last-child { border-right: solid 1px $c; }
    }
  }

  .form{
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
}

.player {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1em;

  img { border-radius: 100%; padding: 1em; }

  .name {

  }
}
