
body {
  font: 16px 'Segoe UI';
}

.games
{
  font-size: 20px;

  .game {
    width: 24em;
    display: grid;
    grid-template-columns: 4fr 1fr auto 1fr 4fr;
    align-items: center;
    gap: .5em;

    .a {text-align: right;}
    .b {text-align: left;}
  }

  .player { font-size: 24px; }

  .score { font-size: 32px; font-weight: bold; }

  .vs {
    position: relative;
    width: 25px;
    height: 20px;
    text-align: center;
  }

  .ongoing {
    background: #ffa;
    color: #f60;

    .vs {
      &:after {
        content: '';
        position: absolute;
        border: solid 6px #f90;
        border-radius: 6px;
        margin: 4px -16px;
        animation: ani-play 3s infinite;
        @keyframes ani-play {
         $w: 8px;
         $h: 5px;
         0% { transform: translate(0, $h) }
         25% { transform: translate($w, 0) }
         50% { transform: translate($w*2, $h) }
         75% { transform: translate($w, 0) }
         100% { transform: translate(0, $h) }
        }
     }
    }
  }

}